@media (max-width: 1140px){
    .imgContainer img {
        width: 100%;
    }

    .banner img {
        width: 100%;
    }

    .imgContainer {
        width: 100%;

    }

    .banner {
        width: 100%;
    }
}


@media (max-width: 800px) {
    .wrapper {
        flex-direction: column;
    }
    }
